<select class="form-select" name="{{ nombre }}">
    <option value="10" {{ valor == 10 ? 'selected' : '' }}>10</option>
    <option value="20" {{ valor == 20 ? 'selected' : '' }}>20</option>
    <option value="50" {{ valor == 50 ? 'selected' : '' }}>50</option>
</select>
